#titulo-id{
    color:rgb(255, 0, 149);
}


.cor-rosa{
    color:rgb(255, 0, 149);

}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(255, 192, 224);
    font-size: 36px;
}
    
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    line-height: 36px;
}
h2{
    color:rgb(255, 0, 149);

}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(175, 20, 98);
    font-size: 46px;
}

.fundo-pink {
    background: pink;

}

.fonte-grande{
    font-size: 50px;
}

#titulo-principal{
    background: pink;
    color:rgb(255, 0, 149)
}